<html>
<head>
    <title>Login/Signup Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <center><h1>Train Ticket Management System<br>Welcome to the Southern Railway</h1>
	<h2>created by YUGESH V P - here i included login,signup, booking tickect and viewing ticket details and download it option</h2>
	<img src="static/ChennaICentral.jpg" height="410" width="500" />
	<img src="static/train1.jpg" height="420" width="500" /> 
	<h2>Login and Signup Here</h2>
    <a href="/login" class="home-link"> 
	<input type="submit" value="Login"></a> | <a href="/signup" class="home-link"><input type="submit" value="SignUp"></a></img></center>
</body>
</html>
